$wf-font-path:        "../fonts/webfont" !default;
$wf-font-size-base:   14px !default;
$wf-line-height-base: 1 !default;
$wf-css-prefix:       wf !default;
$wf-version:          "0.0.1" !default;
$wf-border-color:     #eee !default;
$wf-inverse:          #fff !default;

$wf-icons: (biaoqing: "\EA01",dianzan: "\EA02",duihua-on: "\EA03",duihua: "\EA04",fenxiang: "\EA05",hehuoren: "\EA06",jiawei: "\EA07",liuyan: "\EA08",lvshiquan-on: "\EA09",lvshiquan: "\EA0A",pinglun: "\EA0B",renmai-on: "\EA0C",renmai: "\EA0D",shixi: "\EA0E",tupian: "\EA0F",wode-on: "\EA10",wode: "\EA11",yidianzan: "\EA12",youjiantou: "\EA13",zhuanfa: "\EA14",zhuren: "\EA15");